# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true

# 不一致を警告で流さず、インストールを失敗させる
engine-strict=true

# インストール後のスクリプトを無視する
ignore-scripts=true

# セキュリティ監査を有効にする
audit=true

# リリース後のパッケージの最小年齢を3日に設定
min-release-age=3

# セキュリティ監査のレベルを「high」に設定
audit-level=high